	article, aside, details, figcaption, figure, footer, header,
	hgroup, menu, nav, section { display: block; }
	
	input.gauge {
		transition:All 0.01s linear;
		-webkit-transition:All 0.01s linear;
		-moz-transition:All 0.01s linear;
		-o-transition:All 0.01s linear;
		
		transform: rotate(90deg) ;
		-webkit-transform: rotate(90deg) ;
		-moz-transform: rotate(90deg) ;
		-o-transform: rotate(90deg) ;
		-ms-transform: rotate(90deg) ;	
	}
	html, body {
		background: #000000;
	}
	.demo-container {
		background: #000000;
		box-sizing: border-box;
		font-family: "Titillium Web", sans-serif;
		width: 1019px;
		background: black;
		padding: 10px 45px;
		font-size: 14px;
		margin: 0 auto;
	}
	.demo-container.lightning-bkg {
		background-image: url("images/lightning-01.jpg");
		background-repeat: no-repeat;
		background-position: 45px 15px;
	}
	.main-container {
		width: 570px;
		float: left;
	}
	.main-img {
		background: url("images/main-img-base.png") repeat-x scroll 0 0 transparent;
		width: 100%;
		height: 594px;
		position: relative;
	}
	.main-img > ul {
		position: absolute;
		top: 50px;
		left: 20px;
		padding: 0;
		margin: 0;
		width: 27%;
	}
	.main-img > ul > li {
		width: 100%;
		display: none;
		padding: 10px 15px;
		border-radius: 5px;
		list-style: none;
		z-index: 2;
		background: #8C0E13;
		color: #FFFFFF;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.main-img > ul > li.dc-blocking {
		background: gray;
		display: block;
	}
	.main-img > img {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	img.dc-blocking {
		display: block;
	}
	.sidebar {
	  float: right;
	  margin-left: 25px;
	  padding: 0;
	  width: 325px;
	  color: #FFFFFF;
	}
	.sidebar .legend {
		border-bottom: 1px solid #FFFFFF;
	}
	.sidebar p {
		display: none;
		line-height: 18px;
	}
	
	.sidebar p.static-show {
		display: block;
	}
	
	.sidebar p .ac-fault-induction {
		display: none;
		text-decoration: underline;
		font-weight: bold;
	}

	.sidebar p:first-child,
	.sidebar p:nth-child(2) {
		display: block;
	}
	form {
		clear: left;
		width: 100%;
		flex: left;
		position: relative;
	}
	.form-toggle {
		text-align: center;
		width: 100px;
		margin-bottom: 40px;
		padding: 10px 0 15px 0;
		background: url("images/toggle-label-01.jpg") no-repeat center bottom scroll transparent;	
	}
	.form-toggle.left {
		float: left;
		clear: left;
	}
	.form-toggle.right {
		float: right;
	}
	.one-step {
		width: 70px;
	}
	div.push {
		margin-top: 35.5px;
	}
	label {
		color: #FFFFFF;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 14px;
		font-weight: bold;
		margin-bottom: 20px;
		display: inline-block;
	}
	label > span {
		display: inline-block;
		margin-top: 14px;
	}
	.gauge {
		background: url("images/gauge-bkg-01.png") repeat-x scroll 0 0 transparent;
		width: 227px;
		height: 228px;
		position: absolute;
		left: 50%;
		top: -60px;
		margin-left: -119px;
	}
	.gauge.warning {
		background: url("images/gauge-bkg-02.png") repeat-x scroll 0 0 transparent;
	}
	.arrow {
		width: 0;
		height: 0;
		border-style: solid;
	    border-width: 0 4px 120px;
		border-color: transparent transparent #f00303 transparent;
		position: absolute;
		left: 49%;
		top: 75px;
		transition: all 0.5s ease 0s;
	}
	.overlay {
		background: url("images/gauge-window-02.png") repeat-x scroll 0 0 transparent;
		width: 227px;
		height: 228px;
		position: absolute;
		z-index: 1;
	}
	.slider {
		text-align: center;
		position: absolute;
		padding: 10px 0;
		left: 50%;
		margin-left: -150px;

	}
	/**
* http://nicolasgallagher.com/micro-clearfix-hack/
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* iPad in portrait & landscape */

@media only screen 
/* and (min-device-width : 768px)  */
and (min-width : 1025px)  {
	.main-container {
	  width: 500px;
	}
	
	.main-img {
		background-size: 100%;
		height: 521px;
	}
	.demo-container.lightning-bkg {
		background-position: 45px 10px;
	}
	
	.sidebar {
		width: 400px;
	}
	
	.gauge {
		width: 203px;
		height: 204px;
		background-size: cover;
		margin-left: -106px;
	}
	.gauge.warning {
		background-size: cover;
	}
	
	.arrow {
		top: 66px;
	}
	
	.overlay {
		width: 203px;
		height: 204px;
		background-size: cover;		
	}
	
	.form-toggle {
		margin-bottom: 10px;
	}
	
	label > span {
		margin-top: 11px;
	}
	
}

@media only screen 
/* and (min-device-width : 768px)  */
and (max-width : 1024px)  {
	
	.demo-container {
		padding: 20px 0 0 0;
		width: 100%;
	}
	
	.main-container {
	  width: 510px;
	}
	
	.main-img {
		background-size: 100%;
	}
	
	.main-img > img {
		width: 100%;
	}
	
	.main-img > ul > li {
		width: 125px;
	}
	
	.sidebar {
/*
		width: 236px;
		margin-left: 6px;
*/		
		margin-left: 10px;
		width: 232px;
	}
	
	.sidebar .legend > img {
		margin-left: -8px;
	}
	
	.sidebar > div {
		max-height: 810px;
		overflow: scroll;
		/* 	  font-size: 12.5px; */
		padding: 0;
		
		font-size: 12px;
		line-height: 14.5px;
	}
	.sidebar p {
	  margin: 0.5em 0;
	}
	
	
	/* 	iPad minus UI elements - should be removed if changing to app view */
	.demo-container {
	  padding-top: 0;
	}
	
	.sidebar .legend > img {
	  margin-left: -8px;
	  width: 90%;
	}

	
}
